.secret-phrase-form {
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    min-height: 92.5vh;
    max-height: 600px;
    box-shadow: 3px 4px rgba(0, 0, 0, 0.104);
    row-gap: 1.5rem;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.secret-phrase-box{
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.719);
    padding: 3rem;
    border-radius:6px;
    box-shadow: 3px 4px rgba(0, 0, 0, 0.104);
    
}

.label3 {
    margin-bottom: 5rem;
    align-items: center;
    text-align: center;
}

button{
    border: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.list-of-components{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.form {
  align-items: center;
}

.secret-phrase-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-area: input;
}
  
.secret-phrase {
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 10px;
    margin-bottom: 10px;
}
  
.submit-secret-phrase{
    height:38px;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 10px;
    box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 18px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    background-color: #9C0D38;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    margin-top: 5rem;
    margin-left: 4rem;
    width: 65%;
}